@use './transitions.scss';
@use './base.scss';
@use './vars.scss';
@use './mixins.scss';

:root {
	--main-card-background: #fff;
	--main-card-second-background: #f7f7f9;
	--main-border-shadow: #2c2d300c;
	--main-card-highlight: #ffffff30;
}

html.dark {
	--main-card-background: #1b1c20;
	--main-card-second-background: #21232a;
	--main-border-shadow: #00000050;
}

* {
	-webkit-user-drag: none;
	box-sizing: border-box;
}

.s-card {
	padding: 0.8rem;
	border-radius: 16px;
	background: linear-gradient(var(--main-card-background), var(--main-card-background));
	box-shadow:
		0 4px 16px 2px var(--main-border-shadow),
		0 2px 4px var(--main-border-shadow);
	transition:
		outline-color 0.3s,
		box-shadow 0.3s,
		background 0.3s;
	outline: 1px solid;
	outline-color: var(--vp-c-border);
	.dark & {
		outline-color: transparent;
		box-shadow:
			0 4px 16px 2px var(--main-border-shadow),
			0 2px 4px var(--main-border-shadow),
			inset 0 1px 2px var(--main-card-highlight);
		&.card-enhance {
			background: linear-gradient(
				var(--main-card-second-background),
				var(--main-card-background)
			);
		}
	}
	&.concave {
		box-shadow:
			inset 0 4px 16px 2px var(--main-border-shadow),
			inset 0 2px 4px 2px var(--main-border-shadow),
			inset 0 -1px 2px var(--main-card-highlight) !important;
		background-color: var(--main-card-second-background);
		.dark & {
			background-color: var(--main-card-background);
		}
	}
	&.hover:hover {
		outline-color: var(--vp-c-brand-1);
		box-shadow: 0 4px 16px 2px var(--vp-c-brand-soft);
	}
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}

::-webkit-scrollbar-thumb {
	background-color: var(--vp-scrollbar-bg);
	border-radius: 8px;
	cursor: pointer;
	&:hover {
		background-color: var(--vp-c-brand-1);
	}
}

::selection {
	background-color: var(--vp-c-brand-1);
	color: #efefef;
}

.nav-btn {
	@include mixins.flex-center;
	padding: 0;
	background-color: transparent;
	transition:
		background-color 0.3s,
		color 0.3s;
	border-radius: 20px;
	cursor: pointer;
	.icon {
		transition:
			color 0.3s,
			opacity 0.3s;
	}
	font-weight: 500;
	&:hover,
	&.active {
		background-color: var(--vp-c-brand-1);
		color: var(--main-card-background);
	}
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}
